*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageHeader {
    text-align: center;
    font-weight: 800;
    color: #fff;
    background: blueviolet;
    font-size: 27px;
    padding: 5px 0;
}

.modelloading {
    border: 1px solid rgb(255, 255, 255);
    width: 600px;
    font-weight: 800;
    color: blueviolet;
    margin: auto;
    text-align: center;
    position: relative;
    top: 400px;
  }

.buttonsHolder {
    margin: 15px 0;
}

.mainWrapper {
    padding: 0 10px;
}

.mainContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.buttonsHolder { 
    padding: 0 10px;
    display: flex; 

    .uploadInput { 
        width: 0px;
        height: 0px;
        visibility: hidden;
        opacity: 0;
    }

    .or {
        align-items: center;
        display: inline-flex;
        padding: 0 20px;
    }

    .uploadImage {
        padding: 12px 17px;
        margin-right: 260px;
        font-size: 18px;
        background: blueviolet;
        color: #fff;
        display: inline-block;
        border: 2;
        border-radius: 0;
        cursor: pointer;
        outline: none;
    }

    .classifyButton {
        padding: 12px 17px;
        margin-right: 100px;
        font-size: 18px;
        background: blueviolet;
        color: #fff;
        display: inline-block;
        border: 2;
        border-radius: 0;
        cursor: pointer;
        outline: none;
    }
}

.imageHolder {
    width: 60%;
    display: block;
    flex: 0 0 60%;
    max-width: 900px;
    height: 70vmin;

    @media (max-width: 800px) {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    &:empty {
        display: none;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.resultsHolder {
    padding: 30px;
    top: 100px;
    width: 30%;
    @media (max-width: 800px) {
        width: 100%;
        padding: 0;
    }

    .classificationResults {
        border: 0px solid rgb(255, 255, 255);
        font-weight: 800;
        color: blueviolet;
        margin: auto;
        text-align: center;
        position: relative;
        top: -10px
      }

    .result {
        border: 1px solid #333;
        margin: 0 0 10px;
        padding: 10px;

        &:first-of-type {
            border-color: #333;
            background-color: blueviolet;

            .name { color: #fff; }
            .confidence { color: #dfdfdf; }
        }

        .name {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .confidence {
            display: block;
            font-weight: 300;

            .bestGuess {
                background: #fff;
                font-weight: bold;
                padding: 2px 2px;
                color: red;
                margin-left: 3px;
            }
        }
    }
}

.divider {
    width: 10px;
    background-color: blueviolet;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh;
    display: none;

    @media (max-width: 800px) {
        display: none !important;
    }
  }
